:root {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    /*--primary-color: #007bff;*/
    /*--text-color: #333;*/
    tab-size: 4;
}

html {
    line-height: 1.5;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    background: rgba(255, 255, 255, .8);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

body {
    margin: 0;
    padding: 0;
    font-family: inherit;
    line-height: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
}

body ::-webkit-scrollbar {
    z-index: 11;
    background: transparent;
}

body ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #2c8af8;
}

body ::-webkit-scrollbar:vertical {
    width: 6px;
}

body ::-webkit-scrollbar:horizontal {
    height: 6px;
}

.titleBar {
    /*top: 0;*/
    position: fixed;
    height: 35px;
    -webkit-app-region: drag;
    /*background: #2c8af8;*/
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
}

.app {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    padding-left: 150px;
    min-height: 100vh;
}

.page {
    display: flex;
    margin: 0 auto;
    padding: 20px 35px 30px 20px;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

* {
    /* --tw-ring-inset: var(--tw-empty,); */
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
}

*, :before, :after {
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
    border-color: #e5e7eb;
    border-style: solid;
    border-width: 0;
}

*, * :before, * :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "iconfont";
    /*src: url(//at.alicdn.com/t/font_841708_ok9czskbhel.ttf?t=1576162884356) format("truetype");*/
}

@media (max-width: 768px) {
    .app {
        /*padding-top: 60px;*/
        padding-left: 0;
        top: 0;
    }

    .page {
        padding: 0 0 20px;
        height: 100%;
        min-height: unset;
    }

    .page-container {
        padding: 0 10px;
        width: 100%;
        height: calc(100vh - 60px);
        -webkit-overflow-scrolling: touch;
    }

    .page-container::-webkit-scrollbar {
        display: none;
    }

    .sidebar {
        z-index: 10;
        width: 100%;
        height: 60px;
        background: #f4f5f6;
        flex-direction: row;
    }

    .sidebar-logo {
        margin: 0 15px;
        width: 36px;
        height: 36px;
    }

    .sidebar-menu {
        overflow-x: scroll;
        margin-top: 0;
        padding: 10px;
        flex: 1;
        flex-direction: row;
        justify-content: center;
    }

    .sidebar-menu::-webkit-scrollbar {
        display: none;
    }

    .sidebar-menu .item {
        margin: 0 3px;
    }

    .sidebar-menu .item > a {
        width: 80px;
        height: 32px;
        line-height: 32px;
    }

    .sidebar-menu .item.no-mobile, .sidebar-version {
        display: none;
    }
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}